$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$groove-border: 2px groove var(--groove-gray);
$border-radius: 4px;

$space: 10px;
$scrollbar-width: 6px;

// background variable
$background-sheet: url("../images/parchment.jpg") repeat;
