.items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;

  .item-header {
    font-weight: bold;
    img.profile {
      border: 2px solid #000;
    }

    .item-subtitle {
      flex: 0 0 100px;
      height: 60px;
      margin: 0;
      padding: 5px;
      text-align: right;
      color: $c-tan;

      .item-type {
        font-size: 24px;
        line-height: 26px;
        margin: 0;
      }

      .item-status {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;

    .item-image {
      flex: 0 0 24px;
      margin-right: 5px;
    }

    img {
      display: block;
    }
  }

  .item-name {
    margin: 0;
  }

  .item-controls {
    flex: 0 0 86px;
    text-align: right;
  }
}
